<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stacky</title>
        
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="Stacky">


        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, viewport-fit=cover" />
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:100,300" rel="stylesheet">
    </head>

    <body>
        <div id="root"></div> 
    </body>
</html>