html(lang="no")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        link(href="//fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300" rel="stylesheet") 
        link(href=cacheBuster("/style.css") rel="stylesheet")  
        
        title Stacky
    body  
        canvas#app 
        .loading 
            span.visually-hidden Loading
        button.fullscreen-button
            span.visually-hidden Go fullscreen 
        .ui-wrapper 
            .ui-section.ui-section--active.ready
                h1.title 
                    span.s S
                    span.t t
                    span.a a
                    span.c c
                    span.k k
                    span.y y
                button.click-to-start 
                    | tap to start 
            .ui-section.ended
                .total-score.score 0
                button.click-to-start 
                    | tap to restart
            .ui-section.running 
                .running-score.score 0
    
        script(src=cacheBuster("/app.js"))