html(lang="no")
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover")
        style.
            body, html {
                height: 100vh;
                margin: 0;
                width: 100wv;
                overflow: hidden; 
                padding: 0; 
                touch-action: none; 
                background-image: linear-gradient(#FCF7F8, rgb(155, 175, 207));
            }

            canvas {
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                height: 100%
            }
        title Stacky
    body 
        script(src=cacheBuster("app.js"))