html(lang="no")
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        link(href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:100,300,700" rel="stylesheet") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/cannon.js/0.6.2/cannon.min.js")
        style.
            * {
                font: inherit;
                color: inherit;
                margin: 0;
                padding: 0;
                list-style: none;
                background-color: transparent;
                border: none; 
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
                -webkit-touch-callout: none;
            } 
            canvas {
                width: 100vw !important;  
                height: 100vh !important;
                position: relative;
                z-index: 2;
            }
           
        title Stacky
    body 
        canvas#app
        

        script(src=cacheBuster("app.js"))