* {
    font-family: inherit;
    line-height: inherit;
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    font-family: inherit;
    border: none;
    font-weight: inherit;
    line-height: inherit;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    user-select: none;
}

html,
body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

body { 
    color: #FFF;
    background-image: linear-gradient(rgb(177, 231, 220), rgb(178, 206, 230));
    min-height: 100vh;
    background-color: rgb(178, 206, 230);
} 

canvas {
    width: 100vw !important;
    height: 100vh !important;
}

button {
    font-size: 1em;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}