.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0 0 4.5rem rgba(#000, .5);
    pointer-events: none;

    &__subtitle {
        font-size: 1.65rem; 
        opacity: .5;
        font-family: "Roboto";
        text-transform: uppercase;
        position: absolute;
        bottom: 3em;
        left: 50%;
        white-space: nowrap;
        transform: translateX(-50%);
        z-index: 1;
        animation: subtitle-in .3s 1.5s both;
    }

    &--score {
        font-size: 11em;
        font-weight: 100;
        line-height: .85;
        letter-spacing: -.05em;
        transform: translate(-50%, calc(-100% - .35em));

        @media (max-width: 35em) {
            font-size: 9em;
        }
    }

    &--intro {
        font-size: 10em;
        z-index: 1;
        font-family: "Abril Fatface";
        text-transform: lowercase;

        @media (max-width: 37em) {
            font-size: 7em;
        }

        @media (max-width: 27em) {
            font-size: 5em;
        }
    }

    &--game-over {
        font-size: 2.5em;
        z-index: 1;
        line-height: 1;
        text-transform: uppercase;
        margin-top: 1em;
        white-space: nowrap;
        animation: game-over-in .75s .25s both; 

        @media (max-width: 50em) {
            font-size: 2.25em;
        }
    }
}

.logo {
    white-space: nowrap;

    span {
        animation: logo-in .35s both;
        display: inline-block;
        position: relative;
    }
}

@keyframes logo-in {
    from {
        transform: translateY(.5em);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes subtitle-in {
    from {
        bottom: 1em;
        opacity: 0;
    }

    to {
        bottom: 3em;
        opacity: .5;
    }
}
@keyframes game-over-in {
    from {
        margin-top: -2em;
        opacity: 0;
    }

    to {
        margin-top: 1em;
        opacity: 1;
    }
}